<div>
    <button type="submit" onclick="list()">Player List</button>
    <button type="submit" onclick="create()">Create Player</button>
    <button type="submit" onclick="dashboard()">Dashboard</button>
</div>